In [10]:
import pandas as pd
euro=pd.read_csv('https://raw.githubusercontent.com/Code-Gym/python-dataset/master/Euro_2012_stats_TEAM.csv',
                sep=',')
euro.dtypes #各欄位屬性

Team                           object
Goals                           int64
Shots on target                 int64
Shots off target                int64
Shooting Accuracy              object
% Goals-to-shots               object
Total shots (inc. Blocked)      int64
Hit Woodwork                    int64
Penalty goals                   int64
Penalties not scored            int64
Headed goals                    int64
Passes                          int64
Passes completed                int64
Passing Accuracy               object
Touches                         int64
Crosses                         int64
Dribbles                        int64
Corners Taken                   int64
Tackles                         int64
Clearances                      int64
Interceptions                   int64
Clearances off line           float64
Clean Sheets                    int64
Blocks                          int64
Goals conceded                  int64
Saves made                      int64
Saves-to-shots ratio           object
Fouls Won                       int64
Fouls Conceded                  int64
Offsides                        int64
Yellow Cards                    int64
Red Cards                       int64
Subs on                         int64
Subs off                        int64
Players Used                    int64
dtype: object

In [11]:
#官方說明文件
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html

#每一隊黃牌跟紅牌的數量
cards=euro[['Team','Yellow Cards','Red Cards']]
cards

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

In [13]:
#依據黃牌數量降冪排序
cards.sort_values('Yellow Cards' , ascending=False)

                   Team  Yellow Cards  Red Cards
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
6                Greece             9          1
1        Czech Republic             7          0
9                Poland             7          1
14               Sweden             7          0
4                France             6          0
11  Republic of Ireland             6          1
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

In [14]:
#series物件
#一維物件
euro.Goals

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

In [16]:
#得分平均 , 四捨五入
round(euro.Goals.mean())

5.0

In [17]:
#尋找大於平均分數的球隊
#要有過濾條件
euro.Goals>5

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7      True
8     False
9     False
10     True
11    False
12    False
13     True
14    False
15    False
Name: Goals, dtype: bool

In [18]:
euro[euro.Goals>5]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

In [21]:
#尋找球隊名字開頭為ｓ
euro.Team.str.startswith('S')

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14     True
15    False
Name: Team, dtype: bool

In [22]:
euro[euro.Team.str.startswith('S')]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18

In [23]:
#複習一下list取資料的方式
lst=['a','b','c','d']
lst[0:2]

['a', 'b']

In [25]:
#pandas 好用的切割器 iloc
euro.iloc[0:3,1:4]

   Goals  Shots on target  Shots off target
0      4               13                12
1      4               13                18
2      4               10                10

In [27]:
#用行列名稱切割資料
euro.loc['0':'3','Goals':'Shots off target']

   Goals  Shots on target  Shots off target
0      4               13                12
1      4               13                18
2      4               10                10
3      5               11                18